html,main,body{
    height: 100%;
    width: 100%;
    width: 92%;
    padding: 25px;
    margin: auto;
    font-size: 40px;
    background-image: url('photo-1560958089-b8a1929cea89.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    justify-content: center;
    text-align: center;
}
section > img{
    height: 180px;
    width: 20%;
    text-align: center;
}
h3{
    color: aqua;
    text-align: center;
    font-size: 40px;
}
h1{
    color: #333;
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
    color: aqua;
    font-size: 40px;
}
ul{
    color: #333;
}
footer p{
    color: crimson;
}
div.wrapper{
    background-color: antiquewhite;
    padding: 25px;
    margin: 25px auto;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 2px solid #333;
    align-items: center;
}
li:nth-child(odd){
    font-weight: bold;
}
/* This is the media query that makes the image responsive */
@media (max-width: 1400px) 
{
    img 
    {
        height: auto;
        max-width: 60%;
    }
}